@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Playfair+Display:ital@0;1&family=Poppins:wght@300;400;500;600&display=swap');

main {
  margin: 0 24px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  margin-top: 10px;
}

.navbar h1 {
  color: #6070ff;
  font-family: 'Poppins', serif;
  font-weight: 1000;
  font-size: 24px;
  align-self: center;
}

.hamburger {
  width: 25px;
  height: 20px;
  align-self: center;
}

.welcome-section {
  background-image: url(./images/mbTemplate.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-position: center;
}

.welcome-section h2 {
  margin-top: 3em;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin-bottom: 5px;
}

.welcome-section p {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
}

.welcome-section h3 {
  display: flex;
  align-items: center;
  font-family: 'Poppins', serif;
  color: #7f8cff;
  position: static;
}

.social-icons {
  display: flex;
  column-gap: 10px;
}
